$primaryGradient: linear-gradient(
  to right,
  rgb(233, 168, 68) 0%,
  rgb(192, 158, 52) 51%,
  rgb(167, 137, 49) 100%
);
$primaryColor: rgb(167, 137, 49);
$secondaryColor: rgb(90, 144, 220);
$tertiaryColor: rgb(233, 168, 68);
$backgroundColor: rgb(21, 21, 21);
