.sideBar {
    width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sideBarOptions {
        > div {
            margin-bottom: 10px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
